Always use docker to test functionality or any adhoc scripts - ./docker/
packages should not be installed on host machine.

Dont be overly verbose when writing README or any descriptors in code.
When responding to me , dont be too verbose

I prefer technical explanation not a product style explanation. For example, I prefer filter dr_5 > 20 was applied rather than "picked 5 day momentum stocks".
Specificity is very important.

