{% extends "all_returns_base.html" %}

{% block title %}All Returns - Stock Screener{% endblock %}

{% block page_title %}All Returns Consolidated{% endblock %}
{% block page_description %}All return periods (1D, 5D, 20D, 60D, 120D) in one consolidated view, sorted by weighted priority score{% endblock %}

{% set active_page = 'all_returns' %}

{% block extra_css %}
<style>
    .return-column {
        min-width: 80px;
    }
    .ticker-column {
        min-width: 80px;
    }
    .company-column {
        min-width: 200px;
    }
</style>
{% endblock %}

{% block extra_js %}
{{ super() }}
<script>
    // Configure this page
    pageConfig = {
        type: 'all_returns',
        apiAbove: '/api/AllReturns-Above200M',
        apiBelow: '/api/AllReturns-Below200M'
    };
</script>
{% endblock %} 