{% extends "screener_base.html" %}

{% block title %}120-Day Returns - Stock Screener{% endblock %}

{% block page_title %}120-Day Returns{% endblock %}
{% block page_description %}<span id="pageDescription">Loading...</span>{% endblock %}

{% set active_page = 'return_120d' %}

{% block extra_js %}
{{ super() }}
<script>
    // Configure this page
    pageConfig = {
        type: 'returns',
        returnDays: '120-Day',
        apiAbove: '/api/Return120D-Above200M',
        apiBelow: '/api/Return120D-Below200M'
    };
</script>
{% endblock %} 