{% extends "screener_base.html" %}

{% block title %}60-Day Returns - Stock Screener{% endblock %}

{% block page_title %}60-Day Returns{% endblock %}
{% block page_description %}<span id="pageDescription">Loading...</span>{% endblock %}

{% set active_page = 'return_60d' %}

{% block extra_js %}
{{ super() }}
<script>
    // Configure this page
    pageConfig = {
        type: 'returns',
        returnDays: '60-Day',
        apiAbove: '/api/Return60D-Above200M',
        apiBelow: '/api/Return60D-Below200M'
    };
</script>
{% endblock %} 