{% extends "screener_base.html" %}

{% block title %}Volume Screener - Stock Screener{% endblock %}

{% block page_title %}Volume Screener{% endblock %}
{% block page_description %}<span id="pageDescription">Loading...</span>{% endblock %}

{% set active_page = 'volume' %}

{% block extra_js %}
{{ super() }}
<script>
    // Configure this page
    pageConfig = {
        type: 'volume',
        apiAbove: '/api/frontend/Volume-Above200M',
        apiBelow: '/api/frontend/Volume-Below200M'
    };
</script>
{% endblock %} 